@font-face {
    font-family: 'Graffiti1CTT';
    src: url('fonts/Graffiti1CTT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amaz';
    src: url('fonts/amazs.t.a.l.k.e.r.v.3.0-webfont.ttf') format('truetype'),
         url('fonts/amazs.t.a.l.k.e.r.v.3.0-webfont.woff2') format('woff2'),
         url('fonts/amazs.t.a.l.k.e.r.v.3.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}